body, html{
    width:100%;
}

h3, p{
    font-size: 1.1rem;
    font-family: 'Space Mono', monospace;
}


.jumbotron{
    min-height:100vh;
    /* position: relative; */
    padding-top:0;
    margin-bottom:0;
}

.footer {
    bottom: 0;
    width: 100%;
    padding:1vw;
    /* Set the fixed height of the footer here */
    max-height: 15vw;
    display:block;
    background-color: #f5f5f5;
}

.btn-sm {
    font-size: 0.9rem;
    font-family: 'Space Mono', monospace;
    width:45%;
}

.navbar{
    width:100%;
}

#github a{
    justify-content: space-evenly;
    align-content: center;
    vertical-align: middle;
    margin-left:0.5vw;
    margin-right:0.5vw;
}

#github a:link{
    color:lightblue;
}

#github a:visited{
    color:lightblue;
}

.row{
    max-height:auto;
    /* padding:0; */
}

#copyright{
    color:white;
}

#logo{
    max-height:100vh;
    max-width:50vw;
}

#buttons{
    margin:auto;
    width:60vw;
}

#resetBtn, #characterUrl{
    margin:0;
    padding:0;
    margin-bottom:10px;
}

#resetBtn a, #characterUrl a{
    font-size:2vw;
    font-family: 'Space Mono', monospace;
}

.navbar-dark{
    color:white;
}

.hvr-underline-from-center::before{
    background:white;
}

@media screen and (min-width: 768px) {
    #resetBtn a, #characterUrl a {
       font-size: 1.4vw;
       font-family: 'Space Mono', monospace;
    }

    #characterPic img{
        max-width:45vw;
        position:relative;
        padding:5px;
        display:block;
        margin:auto;
    }
  }

@media screen and (min-width: 641px) and (max-width: 767px){
    h3, p{
        font-size: 0.95rem;
    }

    #resetBtn a, #characterUrl a {
        font-size: 1.6vw;
        font-family: 'Space Mono', monospace;
     }

    #characterPic img{
        max-width:65vw;
        position:relative;
        padding:5px;
        display:block;
        margin:auto;
    } 
}

@media screen and (min-width: 425px) and (max-width: 640px) {
    h3, p{
        font-size: 0.65rem;
    }

    #resetBtn a, #characterUrl a {
        font-size: 1.6vw;
        font-family: 'Space Mono', monospace;
     }

    #copyright{
        font-size:0.8rem;
    }

    #characterPic img{
        max-width:75vw;
        position:relative;
        padding:5px;
        display:block;
        margin:auto;
    }  

    #github a{
        justify-content: space-evenly;
        align-content: center;
        vertical-align: middle;
        margin-left:1.2vw;
        margin-right:1.2vw;
        font-size:0.75rem;
        padding:5px;
    }
}

@media screen and (max-width: 424px) {
    h3, p{
        font-size: 0.56rem;
    }

    #resetBtn a, #characterUrl a {
        font-size: 1.7vw;
        font-family: 'Space Mono', monospace;
     }

    #characterPic img{
        max-width:75vw;
        position:relative;
        padding:5px;
        display:block;
        margin:auto;
    }  

    #copyright{
        display:none;
    }

    #github a{
        justify-content: space-evenly;
        align-content: center;
        vertical-align: middle;
        margin-left:1.2vw;
        margin-right:1.2vw;
        font-size:0.75rem;
        padding:5px;
    }

    #navtext{
        font-size: 0.9rem;
    }
}